
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper"><a class="brand-logo" href="#"><img src="dist/images/course/logo.png"/></a>
      <form class="input-field">
        <input id="search1" type="search"/>
        <label for="search1">找尋課程、老師</label>
      </form>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" @click="change_tab('course')">找課程</a></li>
        <li><a href="#" @click="change_tab('table')">排課表<span class="new badge flex-container"> </span></a></li>
        <li><a href="#" onclick="dropdownFunction()">
            <div class="photo"></div></a>
          <div class="dropdownContent" id="dropdown1">
            <div class="photo"></div>
            <div class="profile">
              <p class="profile__name">吳瑋倢</p>
              <p style="font-weight: 100;font-size: 9px">hugecatopmeow@gmail.com</p>
              <p>工業與資訊管理學系</p>
              <p>四年級</p><a href="#" @click="change_tab('profile')">前往個人頁面</a>
            </div>
            <div class="activeWord"><span>★已啟用小幫手</span></div>
            <div class="btn logout">登出</div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>