<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" id="viewport" name="viewport">
    <title>NCKU HUB｜資訊改善校園</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="dist/CSS/course.css">
    <!-- <link rel="stylesheet" href="dist/CSS/course/course.css"> -->
    <link rel="stylesheet" href="dist/CSS/reset.css">
    <link rel="stylesheet" href="dist/CSS/table.css">
    <link rel="stylesheet" href="dist/CSS/navbar.css">
    <!-- <script src="dist/JS/profile/init2.js"></script> -->
	<!-- <link rel="stylesheet" type="text/css" href="./dist/CSS/profile/profile.css "> -->
    
        

<nav>
    <div id="navbar" class="hub_navbar">
      <div class="hub_navbar__right_area">
          <a class="hub_navbar__logo"></a>
          <!-- todo: 新增「查無結果」的顯示 -->
          <input class="hub_navbar__search" type="text" v-model="search_keyword" placeholder="搜尋「課程名」或「教師名」" ><br>
          <div v-if="search_keyword.replace(' ','') != ''" class="hub_navbar__search__dropdown">
              <div v-for="item in result_cont" class="list_course_item" @click="openCourse(item.id)">
                <div class="list_course_item_left">
                  <p class="list_course_item_category text_20 text_white" :class="item.dept_id"> {{ item.category }} </p>
                </div>
                <div class="list_course_item_mid">
                  <p class="list_course_item_title text_16">{{ item.dept_id }}-{{ item.class_id }} {{ item.title }}</p>
                  <p class="list_course_item_description text_14 text_dark">{{ item.teacher }} — {{ item.time }}</p>
                </div>
                <div class="list_course_item_right">
                </div>
              </div>
              <span> {{ result }} </span>
          </div>
      </div>
      <div class="hub_navbar__left_area">
          <div class="hub_navbar__link nav_link" name="course" @click="change_tab('course')">找課程</div>
          <div class="hub_navbar__link nav_link" name="table" @click="change_tab('table')">排課表 <span class="wishlist_count">5</span></div>
          <div class="hub_navbar__profile nav_link" name="profile" @click="switch_profile_window()"></div>
          <div class="hub_navbar__profile__dropdown">
            <div class="hub_navbar__profile__dropdown__info">
                <div class="hub_navbar__profile__dropdown__info__photo"></div>
                <div class="hub_navbar__profile__dropdown__info__detail">
                    <!-- 若有開通權限則在 nav_profile_name 添加 vip class  -->
                    <!-- todo: 這邊要 vue 化（含未登入狀態） -->
                    <div class="nav_profile_name vip">{{user_name}}</div>
                    <div v-show="user_department != ''" class="nav_profile_dept">{{user_department}}</div>
                    <div v-show="user_grade != ''" class="nav_profile_grade">{{user_grade}}年級</div>
                </div>
            </div>
            <div v-show="user_name != '訪客'" class="hub_navbar__profile__dropdown__goto" @click="change_tab('profile')" >前往個人頁面</div>
            <a v-show="user_name == '訪客'" href='/user/fblogin'><div class="hub_navbar__profile__dropdown__goto" @click="change_tab('profile')" >登入</div></a>
            <div class="hub_navbar__profile__dropdown__links">
                <a>關於 NCKU HUB</a>
                <a>回報問題</a>
                <a v-show="user_name != '訪客'" href='/user/logout'>登出帳戶</a>
            </div>
          </div>
      </div>
    </div>
</nav>

    <body>
    	<div class="change_tab" name="course">
    	<!-- <div class="change_tab" name="course" style="display: none;"> -->
    		
<div id="courseContent" v-show="isShow" @click.self="showContent()">
  <div class="courseContentBody">
    <div class="courseContentBody__left"><span class="courseSerial">{{course_data.系號}}{{course_data.選課序號}}</span>
      <h2 style="margin-top:20px">{{course_data.課程名稱}}</h2>
      <div class="icon-span" style="margin-top:30px"><span>加入願望清單</span></div>
      <div class="icon-span"><span>檢視課程大綱</span></div>
      <div class="courseUnit">
        <h6>開課單位</h6>
        <h5>{{course_data.系所名稱}}</h5>
      </div>
      <div class="courseUnit">
        <h6>開課老師</h6>
        <h5>{{course_data.老師}}</h5>
      </div>
      <div class="courseUnit">
        <h6>開課時段</h6>
        <h5>{{course_data.時間}}</h5>
      </div>
      <div class="courseUnit">
        <h6>教學方法</h6>
        <h5>course_data.lecture</h5>
      </div>
      <div class="courseUnit">
        <h6>評量方法</h6>
        <h5>course_data.score</h5>
      </div><br/>
    </div>
    <div class="courseContentBody__right">
      <div class="courseContentBody__right__score">
        <h4>課程評分 ({{score_data.rates.length}})</h4>
        <div class="flex-container score-btn--all">
          <div class="score-btn"><span>甜度</span>
            <div class="arrow-left" @click="minusRate('sweet_rate')"></div><span class="score_span">{{score_data.sweet}}</span>
            <input class="score_input" id="sweet_rate" type="number" value="5" min="1" max="10"/>
            <div class="arrow-right" @click="addRate('sweet_rate')"></div>
          </div>
          <div class="score-btn"><span>涼度 </span>
            <div class="arrow-left" @click="minusRate('hard_rate')"></div><span class="score_span">{{score_data.hard}}</span>
            <input class="score_input" id="hard_rate" type="number" value="5" min="1" max="10"/>
            <div class="arrow-right" @click="addRate('hard_rate')"></div>
          </div>
          <div class="score-btn"><span>推薦 </span>
            <div class="arrow-left" @click="minusRate('recom_rate')"></div><span class="score_span">{{score_data.recommand}}</span>
            <input class="score_input" id="recom_rate" type="number" value="5" min="1" max="10"/>
            <div class="arrow-right" @click="addRate('recom_rate')"></div>
          </div>
          <button class="score-btn score-btn__submit" id="score_input" type="submit" @click="submit_score()">評分</button>
        </div>
        <div class="score-btn--all" style="display:none">
          <div id="score-contents" style="display:inline-block">
            <div class="score-btn--edit"><span>甜度</span>
              <div class="arrow-left" @click="minusRate('sweet_rate')"></div>
              <input class="score_input" id="sweet_rate" type="number" value="5" min="1" max="10"/>
              <div class="arrow-right" @click="addRate('sweet_rate')"></div>
            </div>
            <div class="score-btn--edit"><span>涼度</span>
              <div class="arrow-left" @click="minusRate('hard_rate')"></div>
              <input class="score_input" id="hard_rate" type="number" value="5" min="1" max="10"/>
              <div class="arrow-right" @click="addRate('hard_rate')"></div>
            </div>
            <div class="score-btn--edit"><span>推薦</span>
              <div class="arrow-left" @click="minusRate('recom_rate')"></div>
              <input class="score_input" id="recom_rate" type="number" value="5" min="1" max="10"/>
              <div class="arrow-right" @click="addRate('recom_rate')"></div>
            </div>
          </div>
          <div class="score-btn--edit">
            <button id="score_input" type="submit" @click="submit_score()">送出</button>
          </div>
        </div>
      </div>
      <div class="courseContentBody__right__comment">
        <h4>課程心得 ({{comment_data.length}})</h4>
        <div class="courseFeedback courseFeedback__msg--default" style="display:none">
          <div class="courseFeedback__msg">
            <p>點擊按鈕，立即提供課程心得，</p>
            <p>幫助 480 位對這門課有興趣的同學！</p>
          </div>
        </div>
        <div class="courseFeedback courseFeedback__msg--default">
          <div class="courseFeedback__msg">
            <p>我是假心得我是假心得我是假心得我是假心得我是假心得我是假心得我是假心得我是假心得我是假心得我是假心得我是假心得</p>
          </div>
          <div class="flex-container courseFeedback__func">
            <div></div>
            <div class="arrow-up"></div>
            <input class="score_input" type="number" min="0" value="0"/>
            <div class="arrow-down"></div>
          </div>
        </div>
        <div class="courseFeedback" v-for="comment in comment_data">
          <div class="courseFeedback__msg">
            <p>{{comment.comment}}</p>
          </div>
          <div class="flex-container courseFeedback__func">
            <div class="arrow-up"></div>
            <input class="score_input" type="number" min="0" value="0"/>
            <div class="arrow-down"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="course__whole">        
  <div class="courseList__sidenav" id="courseFilter">
    <p>開課單位</p>
    <div class="courseList__sidenav__option">
      <input id="dpmtFilter" type="text" v-model="keyword"/>
      <div class="quick_search--course" v-for="(result, index) in search_result">
        <div @click="result_click(index)">
          <h4>{{result.prefix}} {{result.name}}</h4>
        </div>
      </div>
    </div>
    <div class="courseList__sidenav__courseType" id="courseArrange">
      <p>檢視選項</p>
      <div class="courseList__sidenav__option">
        <label>
          <input id="commentCheck" type="checkbox" @click="comment_filter()"/><span>僅顯示有心得之課程</span>
        </label>
      </div>
    </div>
    <div class="wishlist">
      <div class="block_title">
        <p class="text_18">願望清單（{{ wishlist_cont.length }})</p>
      </div>
      <div class="wishlist_cont">
        <div class="list_course_item" v-for="item in wishlist_cont">
          <div class="list_course_item_left">
            <p class="list_course_item_category text_20 text_white clickable" :class="item.dept_id" @click="deleteItem(item.id)">{{ item.category }}</p>
          </div>
          <div class="list_course_item_mid">
            <p class="list_course_item_title text_16">{{ item.dept_id }}-{{ item.class_id }} {{ item.title }}</p>
            <p class="list_course_item_description text_14 text_dark">{{ item.teacher }} — {{ item.time }}</p>
          </div>
          <div class="list_course_item_right"> </div>
        </div>
      </div>
      <button class="btn courseList__sidenav__courseType course-btn">加入完成，開始安排課表！</button>
    </div>
  </div>
  <div class="courseList__sideList">
    <div class="card courseList__sideList__itemBox" id="courseList">
      <div id="course_item" v-on:scroll="handleScroll">
        <div class="courseList__sideList__itemBox__item" @click.self="courseLink(index)" v-for="(course, index) in course_data">
          <div class="circle"> <span class="circle-content">{{course.系號}}</span></div>
          <div class="courseText" style="margin-left: 20px">
            <p>{{course.課程名稱}}</p>
            <p style="font-size: 12px;color:#9e9e9e;">{{course.系號}}{{course.選課序號}} - {{course.老師}}</p>
          </div>
          <div style="float:right;margin: auto 0">
            <div class="circle--img"><img src="./dist/images/course/edit.png"/></div>
            <div class="circle--img" @click.self="addCourse(index)" style="z-index: 20"><img src="./dist/images/course/heart.png"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    	</div>
    	<div class="change_tab" name="table">
        <!-- <div class="change_tab" name="table" style="display: none;"> -->
    		<div class="left_area">
	<div id="user_data" class="personal_data"> 
		<div class="personal_data_image">
			<img :src="user_photo" >
		</div>
		<div class="personal_data_info">
			<p class="text_24">{{ user_name }}的課表</p>
			<p class="text_16 text_dark">目前已排課 {{ credit_count }} 學分</p>
		</div>
	</div>
	<div id="quick_search" class="quick_search"> 
          <!-- todo: 新增：查無結果的顯示 -->
		<div class="block_title">
			<p class="text_18 "> {{ title_text }} </p>
		</div>
		<div class="quick_search_area" :class="{ filter_mode: filter_status }"  @click="clearFilter">
			<div v-if="filter_status" class="quick_search_clear_filter"></div>
			<input class="quick_search_input" type="text" v-model="keyword" :disabled="filter_status || class_table_locked" :class="{ locked: class_table_locked }" placeholder="輸入「課程名」或「教師名」" ><br>
		</div>
		<div v-if="keyword.replace(' ','') != '' && !filter_status" class="quick_search_dropdown">
			<span> {{ result }} </span>
			<result-list-item v-for="item in result_cont" :class_item="item"></result-list-item>
		</div>
	</div>
	<div id="wishlist_in_table" class="wishlist"> 
		<div class="block_title">
			<p class="text_18">願望清單（{{ wishlist_cont.length }}） </p>
		</div>
		<div class="wishlist_cont" :class="{ locked: class_table_locked }" >
			<wishlist-item v-for="item in wishlist_cont" :class_item="item"></wishlist-item>
		</div>
	</div>
</div>

<div class="right_area">
	<div id="class_table" class="class_table" :class="{ locked: class_table_locked }">
		<div class="class_table_title">
			<div class="class_table_title_cell left">　</div>
			<div class="class_table_title_cell"><p class="text_18">Mon</p></div>
			<div class="class_table_title_cell"><p class="text_18">Tue</p></div>
			<div class="class_table_title_cell"><p class="text_18">Wed</p></div>
			<div class="class_table_title_cell"><p class="text_18">Thu</p></div>
			<div class="class_table_title_cell"><p class="text_18">Fri</p></div>
		</div>
		<div class="class_table_cont">
			<div class="class_table_cont_row left">
				<div class="class_table_cont_cell"><p class="text_18 round">1</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">2</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">3</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">4</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">N</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">5</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">6</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">7</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">8</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">9</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">A</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">B</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">C</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">D</p></div>
				<div class="class_table_cont_cell"><p class="text_18">其他</p></div>
			</div>
			<div class="class_table_cont_row">
				<class-table-cell v-for="item in monday" :cell_data="item" :day="'monday'"></class-table-cell>
			</div>
			<div class="class_table_cont_row">
				<class-table-cell v-for="item in tuesday" :cell_data="item" :day="'tuesday'"></class-table-cell>
			</div>
			<div class="class_table_cont_row">
				<class-table-cell v-for="item in wednesday" :cell_data="item" :day="'wednesday'"></class-table-cell>
			</div>
			<div class="class_table_cont_row">
				<class-table-cell v-for="item in thursday" :cell_data="item" :day="'thursday'"></class-table-cell>
			</div>
			<div class="class_table_cont_row">
				<class-table-cell v-for="item in friday" :cell_data="item" :day="'friday'"></class-table-cell>
			</div>
		</div>
	</div>
</div>

<div id="fixed_button_table" class="fixed_button_area" :class="{ locked: class_table_locked }">
	<div class="major_button" :class="[{ deep_blue_edit: class_table_locked },{ red_done: !class_table_locked }]" @click="switchLockStatus"></div>
	<div class="minor_button dark_cancel" @click="switchLockStatus"></div>
</div>
    	</div>
    	<div class="change_tab" name="profile" style="background-color:rgba(247,247,247,0.8)">
        <!-- <div class="change_tab" name="profile" style="display:none; background-color:rgba(247,247,247,0.8)"> -->
    		
    	</div>
    </body>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"> </script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="dist/JS/public.js"></script>
<script src="dist/JS/navbar.js"></script>
<script src="dist/JS/course.js"></script>
<script src="dist/JS/table.js"></script>
<script src="dist/JS/table_function.js"></script>
<!-- <script src="dist/JS/profile/profile.js "></script> -->
</html>
